/target
/py-isoforest/target
/py-isoforest/build
/py-isoforest/dist
Cargo.lock
tags
cscope.files

/py-isoforest/__pycache__/
/py-isoforest/*.py[cod]
/py-isoforest/eggs/
/py-isoforest/*.egg-info/
/py-isoforest/.installed.cfg
/py-isoforest/*.egg
